In [1]:
import pandas as pd
import numpy as np

In [5]:
bikes_Q1 = pd.read_csv('bikes_q1_sample.csv')

Step 1 <a href='https://lab.karpov.courses/learning/85/module/1056/lesson/9045/26549/118059/'>link</a>
<br>Поместите колонку start_time в качестве индексов и сохраните изменения в исходный датасет. Предварительно проверьте тип переменной, и приведите её к правильному, если необходимо.

In [7]:
bikes_Q1.start_time = pd.to_datetime(bikes_Q1.start_time)

In [10]:
bikes_Q1 = bikes_Q1.set_index('start_time')

In [11]:
bikes_Q1.head()

,trip_id,end_time,bikeid,tripduration,from_station_id,from_station_name,to_station_id,to_station_name,usertype,gender,birthyear
start_time,,,,,,,,,,,
2018-01-22 20:04:31,17617135,2018-01-22 20:11:53,1131,442.0,471,Francisco Ave & Foster Ave,468,Budlong Woods Library,Subscriber,Female,1949.0
2018-03-16 19:47:59,17897619,2018-03-16 20:04:00,6146,961.0,296,Broadway & Belmont Ave,253,Winthrop Ave & Lawrence Ave,Subscriber,Male,1988.0
2018-03-14 18:49:20,17881307,2018-03-14 18:54:38,3847,318.0,260,Kedzie Ave & Milwaukee Ave,503,Drake Ave & Fullerton Ave,Subscriber,Male,1987.0
2018-03-14 18:33:48,17881130,2018-03-14 19:07:40,1483,"2,032.0",199,Wabash Ave & Grand Ave,199,Wabash Ave & Grand Ave,Subscriber,Male,1990.0
2018-02-05 17:39:14,17686289,2018-02-05 17:46:13,6391,419.0,596,Benson Ave & Church St,605,University Library (NU),Subscriber,Male,1992.0

Step 2 <a href='https://lab.karpov.courses/learning/85/module/1056/lesson/9045/26549/118060/'>link</a>
<br>В данных имеется как дата аренды, так и её точное время начала и окончания с точностью до секунд. Примените метод pd.resample() и агрегируйте данные по дням. В качестве ответа укажите максимальное число аренд за день.

In [16]:
bikes_Q1.resample(rule='D').trip_id.count().max()

4196

Step 3 <a href='https://lab.karpov.courses/learning/85/module/1056/lesson/9045/26549/118061/'>link</a>
<br>Посмотрим на распределение количества аренд для разных групп пользователей (usertype) — customers и subscribers в данных за апрель. Данные за нужный период можно подгрузить отсюда.

Сделайте ресемпл по дням для каждой группы и в качестве ответа укажите число аренд за 18 апреля, сделанных пользователями типа Subscriber.

In [21]:
bikes_april = pd.read_csv('bikes_april.csv')
bikes_april.start_time = pd.to_datetime(bikes_april.start_time)
bikes_april = bikes_april.set_index('start_time')

In [24]:
bikes_april.resample(rule='D').usertype.value_counts().loc['2018-04-18']

start_time  usertype
2018-04-18  Subscriber    2196
            Customer        45
Name: usertype, dtype: int64

Step 4 <a href='https://lab.karpov.courses/learning/85/module/1056/lesson/9045/26549/118062/'>link</a>
<br>⭐️ Посмотрим на данные за период с апреля по декабрь.

Объедините сэмплы данных за нужные месяцы в один общий датасет bikes. Сделайте преобразование по дням для каждой группы пользователей (usertype), затем выберите дни, в которые число аренд, сделанных customers, было больше, чем у subscribers.