In [165]:
import pandas as pd
import numpy as np
from pathlib import Path
import datetime as dt

import seaborn as sns
import matplotlib.pyplot as plt

%matplotlib inline

In [5]:
bikes_Q1 = pd.read_csv('bikes_q1_sample.csv')

Step 1 <a href='https://lab.karpov.courses/learning/85/module/1056/lesson/9045/26549/118059/'>link</a>
<br>Поместите колонку start_time в качестве индексов и сохраните изменения в исходный датасет. Предварительно проверьте тип переменной, и приведите её к правильному, если необходимо.

In [7]:
bikes_Q1.start_time = pd.to_datetime(bikes_Q1.start_time)

In [10]:
bikes_Q1 = bikes_Q1.set_index('start_time')

In [11]:
bikes_Q1.head()

,trip_id,end_time,bikeid,tripduration,from_station_id,from_station_name,to_station_id,to_station_name,usertype,gender,birthyear
start_time,,,,,,,,,,,
2018-01-22 20:04:31,17617135,2018-01-22 20:11:53,1131,442.0,471,Francisco Ave & Foster Ave,468,Budlong Woods Library,Subscriber,Female,1949.0
2018-03-16 19:47:59,17897619,2018-03-16 20:04:00,6146,961.0,296,Broadway & Belmont Ave,253,Winthrop Ave & Lawrence Ave,Subscriber,Male,1988.0
2018-03-14 18:49:20,17881307,2018-03-14 18:54:38,3847,318.0,260,Kedzie Ave & Milwaukee Ave,503,Drake Ave & Fullerton Ave,Subscriber,Male,1987.0
2018-03-14 18:33:48,17881130,2018-03-14 19:07:40,1483,"2,032.0",199,Wabash Ave & Grand Ave,199,Wabash Ave & Grand Ave,Subscriber,Male,1990.0
2018-02-05 17:39:14,17686289,2018-02-05 17:46:13,6391,419.0,596,Benson Ave & Church St,605,University Library (NU),Subscriber,Male,1992.0

Step 2 <a href='https://lab.karpov.courses/learning/85/module/1056/lesson/9045/26549/118060/'>link</a>
<br>В данных имеется как дата аренды, так и её точное время начала и окончания с точностью до секунд. Примените метод pd.resample() и агрегируйте данные по дням. В качестве ответа укажите максимальное число аренд за день.

In [16]:
bikes_Q1.resample(rule='D').trip_id.count().max()

4196

Step 3 <a href='https://lab.karpov.courses/learning/85/module/1056/lesson/9045/26549/118061/'>link</a>
<br>Посмотрим на распределение количества аренд для разных групп пользователей (usertype) — customers и subscribers в данных за апрель. Данные за нужный период можно подгрузить отсюда.

Сделайте ресемпл по дням для каждой группы и в качестве ответа укажите число аренд за 18 апреля, сделанных пользователями типа Subscriber.

In [21]:
bikes_april = pd.read_csv('bikes_april.csv')
bikes_april.start_time = pd.to_datetime(bikes_april.start_time)
bikes_april = bikes_april.set_index('start_time')

Step 4 <a href='https://lab.karpov.courses/learning/85/module/1056/lesson/9045/26549/118061/'>link</a>
<br>Посмотрим на распределение количества аренд для разных групп пользователей (usertype) — customers и subscribers в данных за апрель. Данные за нужный период можно подгрузить отсюда.

Сделайте ресемпл по дням для каждой группы и в качестве ответа укажите число аренд за 18 апреля, сделанных пользователями типа Subscriber.

In [24]:
bikes_april.resample(rule='D').usertype.value_counts().loc['2018-04-18']

start_time  usertype
2018-04-18  Subscriber    2196
            Customer        45
Name: usertype, dtype: int64

Step 5 <a href='https://lab.karpov.courses/learning/85/module/1056/lesson/9045/26549/118062/'>link</a>
<br>⭐️ Посмотрим на данные за период с апреля по декабрь.

Объедините сэмплы данных за нужные месяцы в один общий датасет bikes. Сделайте преобразование по дням для каждой группы пользователей (usertype), затем выберите дни, в которые число аренд, сделанных customers, было больше, чем у subscribers.

In [4]:
path_to_csv_dir = 'bike_apr_dec'

In [5]:
path = Path(path_to_csv_dir)

In [21]:
df = pd.DataFrame()
for p in path.rglob('*csv'):
    tmp_df = pd.read_csv(p)
    
    df = pd.concat([df, tmp_df])
    
df.start_time = pd.to_datetime(df.start_time)

In [25]:
df = df.set_index('start_time')

In [26]:
df.head()

,trip_id,end_time,bikeid,tripduration,from_station_id,from_station_name,to_station_id,to_station_name,usertype,gender,birthyear
start_time,,,,,,,,,,,
2018-04-01 00:17:00,18000534,2018-04-01 00:22:53,1323,353.0,130,Damen Ave & Division St,69,Damen Ave & Pierce Ave,Subscriber,Male,1991.0
2018-04-01 00:20:00,18000536,2018-04-01 00:26:22,2602,382.0,121,Blackstone Ave & Hyde Park Blvd,351,Cottage Grove Ave & 51st St,Subscriber,Female,1992.0
2018-04-01 00:23:19,18000538,2018-04-01 00:35:01,4213,702.0,31,Franklin St & Chicago Ave,180,Ritchie Ct & Banks St,Subscriber,Male,1985.0
2018-04-01 00:24:46,18000540,2018-04-01 00:44:23,6401,"1,177.0",596,Benson Ave & Church St,517,Clark St & Jarvis Ave,Subscriber,Male,1974.0
2018-04-01 00:26:04,18000541,2018-04-01 00:31:05,6333,301.0,145,Mies van der Rohe Way & Chestnut St,24,Fairbanks Ct & Grand Ave,Subscriber,Male,1984.0

In [39]:
df.resample(rule='D').usertype.value_counts() \
    .to_frame().rename(columns={'usertype':'counts'}).reset_index() \
    .pivot(index='start_time', columns='usertype', values='counts') \
    .query('Customer > Subscriber')

usertype    Customer  Subscriber
start_time
2018-05-27      3263        2449
2018-09-02      2752        2183

Step 6 <a href='https://lab.karpov.courses/learning/85/module/1056/lesson/9045/26549/118063/'>link</a>
<br>Отлично! Следующий шаг – более подробно посмотреть на летний период.

Еще один плюс использования дат в качестве индексов – возможность выбрать данные за интересующий нас промежуток времени. В переменную bikes_summer сохраните наблюдения с 1 июня по 31 августа. Затем запишите в top_destination наиболее популярный пункт назначения (его название). Агрегируйте данные по дням и определите, в какой день в полученный пункт (top_destination) было совершено меньше всего поездок. Дату сохраните в bad_day, отформатировав timestamp с помощью .strftime('%Y-%m-%d').

In [135]:
bikes = df

In [150]:
bikes_summer = bikes.sort_index().loc['2018-06-01 00:00:00':'2018-08-31 23:59:59']

In [140]:
top_destination = bikes_summer.to_station_name.value_counts().idxmax()
top_destination

'Streeter Dr & Grand Ave'

In [141]:
bad_day = bikes_summer.resample(rule='D').to_station_name.value_counts() \
    .to_frame().rename(columns={'to_station_name':'counts'}) \
    .reset_index() \
    .query('to_station_name == @top_destination') \
    .sort_values('counts')['start_time'].head(1) \
    .dt.strftime('%Y-%m-%d').values[0]

In [142]:
bad_day

'2018-06-21'

Step 7 <a href='https://lab.karpov.courses/learning/85/module/1056/lesson/9045/26549/118064/'>link</a>
<br>Куда больше всего ездят на выходных? Туда же, куда и в будние дни, или в другие пункты назначения?

Используя данные за период с 1 июня по 31 августа, выберите верные утверждения.

In [151]:
summer_days = bikes_summer.resample(rule='D').to_station_name.value_counts()\
    .to_frame().rename(columns={'to_station_name':'counts'}) \
    .reset_index()

In [157]:
summer_days.head()

  start_time               to_station_name  counts  is_weekend
0 2018-06-01  Clinton St & Washington Blvd      79       False
1 2018-06-01           Canal St & Adams St      78       False
2 2018-06-01       Clinton St & Madison St      74       False
3 2018-06-01       Streeter Dr & Grand Ave      72       False
4 2018-06-01            Daley Center Plaza      60       False

0        d
1        d
2        d
3        d
4        d
        ..
41197    d
41198    d
41199    d
41200    d
41201    d
Name: start_time, Length: 41202, dtype: category
Categories (3, object): ['d' < 'st' < 'sn']

In [188]:
week_day = summer_days.reset_index().start_time.dt.dayofweek
summer_days['is_weekend'] = week_day >= 5
summer_days['day_cut'] = pd.cut(week_day, bins=[-1,4,5,6], labels=['d', 'st', 'sn'])

In [189]:
summer_days.day_cut.unique()

['d', 'st', 'sn']
Categories (3, object): ['d' < 'st' < 'sn']

In [198]:
summer_days['day'] = summer_days.start_time.dt.day_of_week
if summer_days.query('day_cut == "d" and day > 4').shape[0] != 0:
    print("Error in works day")
if summer_days.query('day_cut == "st" and day != 5').shape[0] != 0:
    print("Error in saturday day")
if summer_days.query('day_cut == "sn" and day != 6').shape[0] != 0:
    print("Error in sunday day")

In [201]:
summer_days.head()

  start_time               to_station_name  counts  is_weekend day_cut  day
0 2018-06-01  Clinton St & Washington Blvd      79       False       d    4
1 2018-06-01           Canal St & Adams St      78       False       d    4
2 2018-06-01       Clinton St & Madison St      74       False       d    4
3 2018-06-01       Streeter Dr & Grand Ave      72       False       d    4
4 2018-06-01            Daley Center Plaza      60       False       d    4

In [209]:
weekends = summer_days.groupby(by=['day_cut', 'to_station_name'], as_index=False) \
    .counts.sum() \
    .rename(columns={'counts':'visits'}) \
    .sort_values(['visits', 'day_cut'], ascending=False)

In [210]:
weekends[weekends.day_cut == 'st'].head()

     day_cut             to_station_name  visits
1089      st     Streeter Dr & Grand Ave    3461
886       st  Lake Shore Dr & North Blvd    1690
1091      st         Theater on the Lake    1470
885       st   Lake Shore Dr & Monroe St    1232
954       st             Millennium Park    1080

In [211]:
weekends[weekends.day_cut == 'd'].head()

    day_cut               to_station_name  visits
510       d       Streeter Dr & Grand Ave    7614
81        d           Canal St & Adams St    6142
144       d  Clinton St & Washington Blvd    4857
140       d       Clinton St & Madison St    4694
307       d    Lake Shore Dr & North Blvd    4213