In [5]:
import pandas as pd
import requests
from datetime import timedelta
from datetime import datetime
from zipfile import ZipFile
from io import BytesIO

In [3]:
TOP_1M_DOMAINS = 'http://s3.amazonaws.com/alexa-static/top-1m.csv.zip'

In [34]:
df = pd.read_csv(TOP_1M_DOMAINS, names=['rank', 'domain'])

In [36]:
df.head()

   rank        domain
0     1    google.com
1     2   youtube.com
2     3  facebook.com
3     4     baidu.com
4     5  bilibili.com

### Найти топ-10 доменных зон по численности доменов

In [32]:
top_domain_zones_df = df.domain.str.extract(r'.+(?P<domain_zone>\.\w+)')\
    .value_counts() \
    .sort_values(ascending=False) \
    .reset_index() \
    .rename(columns={0:'counts', 'counts':'domain_zone'}) \
    .head(10)

In [33]:
top_domain_zones_df

  domain_zone  counts
0        .com  383837
1        .org   30020
2        .net   26290
3         .ru   19797
4         .au   12450
5         .de   10545
6         .uk   10276
7         .ir    9885
8         .in    9404
9         .nl    8596

### Найти домен с самым длинным именем (если их несколько, то взять только первый в алфавитном порядке)

In [64]:
df['domain_name'] = df.domain.str.extract(r'(?P<domain_name>\w+)\..+')

max_len = df.domain_name.str.len().max()
# max_len = len(df.iloc[0].domain)

df[df.domain_name.str.len() == max_len].sort_values(by='domain_name').head(1).domain.iloc[0]

'qghjllklkqlzxcwqghjllklkqlzxcwqghjllklkqlzxcwqghjllklkqlzxcwhub.xyz'

### На каком месте находится домен airflow.com?

In [89]:
df_airflow = df[df.domain == 'airflow.com']

if df_airflow.shape[0] == 0:
    print('нет инф')
else:
    print(f'airflow.com занимает {df_airflow["rank"].values[0]} место')

airflow.com занимает 84546 место

In [85]:
result = df[df.domain == 'airflow.com']['rank'].values[0]

In [86]:
str(result)

'84546'