In [6]:
#!pip install gspread
#!pip install oauth2client

In [84]:
import pandas as pd
import numpy as np

from io import BytesIO
import requests

import json
import os

import gspread
from oauth2client.service_account import ServiceAccountCredentials
from urllib.parse import urlencode

In [9]:
path_to_creds = '../../creds/karpov-cources-analytics-e22393e20418.json'

In [109]:
with open(path_to_creds) as json_file:
    data = json.load(json_file)

email = data['client_email']

In [ ]:
# Specify name of table in google sheets
table_name = 'name of your table'

scope = ['https://spreadsheets.google.com/feeds',
         'https://www.googleapis.com/auth/drive']

credentials = ServiceAccountCredentials.from_json_keyfile_name(path_to_creds, scope)

gs = gspread.authorize(credentials)

Step 2 <a href='https://lab.karpov.courses/learning/85/module/1056/lesson/9044/26543/118020/'>link</a>
<br>⭐️Задание со звёздочкой!⭐️

Считайте данные из Google Sheets, которые находятся по этой ссылке при помощи библиотеки requests. Посчитайте процент мужчин среди всех посетителей сайта, округлите ответ до целых.

Воспользуйтесь этим кодом, чтобы перевести данные из реквеста в пандас

In [20]:
link = 'https://docs.google.com/spreadsheets/d/1e3PRXmMNXo9AZZnaol1aHgYxtH6KYaCDymEQlK6jaO8/export?format=csv'

In [19]:
pd.read_csv('https://docs.google.com/spreadsheets/d/1e3PRXmMNXo9AZZnaol1aHgYxtH6KYaCDymEQlK6jaO8/export?format=csv')

         date         gender  users
0  2020-06-14  Not specified    150
1  2020-06-14           male    117
2  2020-06-14         female     21

In [22]:
resp = requests.get(link)

In [33]:
data = resp.content

df = pd.read_csv(BytesIO(data))
df.head()

         date         gender  users
0  2020-06-14  Not specified    150
1  2020-06-14           male    117
2  2020-06-14         female     21

In [42]:
np.round(df[df.gender == 'male'].users.sum() / df.users.sum() * 100, 0)

41.0

Step 3 <a href='https://lab.karpov.courses/learning/85/module/1056/lesson/9044/26543/118021/'>link</a>
<br>Скачайте файл с данными посещаемости сайта Яндекс.Метрика отсюда (сохранен в переменную df). При помощи функции np.where создайте серию, в которую будет записываться 1, если посещения были сделаны роботами с браузера, содержащего Chrome в названии, и 0 в других случаях. Поместите получившуюся серию в переменную chrome_robots.

In [44]:
df = pd.read_csv('7_browser.csv')

In [45]:
df.head()

         date         browser user_type  users
0  2020-06-14   Google Chrome    People    139
1  2020-06-14   Chrome Mobile    People     35
2  2020-06-14   Google Chrome    Robots     28
3  2020-06-14  Yandex Browser    People     22
4  2020-06-14         Firefox    People     15

In [46]:
df.user_type.unique()

array(['People', 'Robots'], dtype=object)

In [59]:
df['chrome_robots'] = np.where(df.user_type == 'Robots',
                               np.where(df.browser.str.contains('Chrome'), 1, 0),
                               0)

In [61]:
chrome_robots = pd.Series(np.where(df.user_type == 'Robots',
                               np.where(df.browser.str.contains('Chrome'), 1, 0),
                               0))

Step 4 <a href='https://lab.karpov.courses/learning/85/module/1056/lesson/9044/26543/118022/'>link</a>
<br>⭐️Задание со звёздочкой!⭐️

У вас есть датасет с данными о кликах и показах по объявлению, в котором есть пропуски. Вычислите количество строк без пропусков в колонке click_type. Запишите ответ в переменную not_nan_count

<br>ad_id – id объявления
<br>user_id – id пользователя
<br>click_type – тип клика (клик по заголовку объявления, клик по центру)

In [63]:
df = pd.read_csv('sample_ads.csv')

In [64]:
df.head()

   ad_id user_id click_type
0  12345   qwert        top
1  12345   fsssc     center
2  12345   vfvgg        NaN
3  12345   asrvv        NaN
4  12345   tynuy        top

In [66]:
not_nan_count = df.click_type.notna().sum()

Step 5 <a href='https://lab.karpov.courses/learning/85/module/1056/lesson/9044/26543/118023/'>link</a>
<br>⭐️Задание со звёздочкой!⭐️

В списке lst находятся различные элементы. Создайте список new_list и сделайте следующее:

при помощи конструкции try except и цикла попробуйте преобразовать каждое значение в листе в int
если это получилось – добавьте преобразованное значение  в список new_list

In [74]:
lst = ['1', 1, 2, '3.2', '-35', '+2', 's', '.', '3,3']

new_list = []

for i in lst:
    try:
        new_list.append(int(i))
    except:
        continue
#         pass
        
print(new_list)

[1, 1, 2, -35, 2]

Step 6 <a href='https://lab.karpov.courses/learning/85/module/1056/lesson/9044/26543/118024/'>link</a>
<br>⭐️Задание со звёздочкой! ⭐️

А теперь попробуем воспользоваться знаниями использования Telegram API. Отправьте себе в личку любое послание, а в ответ к этому шагу напишите ник бота, от имени которого будете отправлять сообщения.

In [75]:
path_to_tg_json = '../../creds/my_tg_bot.json'

In [78]:

with open(path_to_tg_json) as json_file:
    data = json.load(json_file)

#file has to contain 'token' and 'chat_id' fields 
token = data['token']
chat_id = data['chat_id']

In [79]:
tg_get_updates_api = f'https://api.telegram.org/bot{token}/getUpdates'

In [106]:
resp=requests.get(tg_get_updates_api)
resp_json = json.loads(resp.text)
chat_id = resp_json['result'][0]['message']['chat']['id']

In [101]:
message = 'test'  # text which you want to send

params = {'chat_id': chat_id, 'text': message}

base_url = f'https://api.telegram.org/bot{token}/'
url = base_url + 'sendMessage?' + urlencode(params)
# Only if you need it
# proxy = {'https': 'https://77.48.23.199:57842'}

# To send request via proxy
# resp = requests.get(url, proxies=proxy)
resp = requests.get(url)

In [102]:
resp.text

'{"ok":true,"result":{"message_id":1155,"from":{"id":551364995,"is_bot":true,"first_name":"BaharatBot_v1","username":"Psyr_bot"},"chat":{"id":351301198,"first_name":"Pavel","last_name":"Syrnev","username":"psyrnev","type":"private"},"date":1651302872,"text":"test"}}'