In [1]:
import pandas as pd
import numpy as np

import requests

import json

import gspread
from oauth2client.service_account import ServiceAccountCredentials
from urllib.parse import urlencode

In [2]:
path_to_creds = '../../creds/karpov-cources-analytics-e22393e20418.json'

In [5]:
with open(path_to_creds) as json_file:
    data = json.load(json_file)

email = data['client_email']

In [8]:
# Specify name of table in google sheets
table_name = 'Hockey balance 2022'

scope = ['https://spreadsheets.google.com/feeds',
         'https://www.googleapis.com/auth/drive']

credentials = ServiceAccountCredentials.from_json_keyfile_name(path_to_creds, scope)

gs = gspread.authorize(credentials)
work_sheet = gs.open(table_name)

In [19]:
tournament = work_sheet.worksheet('турнир 2022')

In [31]:
data = tournament.get_all_values()

# Get header from data
headers = data.pop(1)

# Create df
df = pd.DataFrame(data[1:], columns=headers)
df.head()

   №        дата синие белые
0  1  09.01.2022     9     3  синие
1  2  16.01.2022     5     8  белые
2  3  23.01.2022     7     7  Ничья
3  4  30.01.2022     6     7  белые
4  5  06.02.2022    15    12  синие

In [30]:
data[1:]

[['1', '09.01.2022', '9', '3', 'синие'],
 ['2', '16.01.2022', '5', '8', 'белые'],
 ['3', '23.01.2022', '7', '7', 'Ничья'],
 ['4', '30.01.2022', '6', '7', 'белые'],
 ['5', '06.02.2022', '15', '12', 'синие'],
 ['6', '13.02.2022', '6', '6', 'Ничья'],
 ['7', '20.02.2022', '4', '9', 'белые'],
 ['8', '27.02.2022', '8', '9', 'белые'],
 ['9', '06.03.2022', '7', '8', 'белые'],
 ['10', '13.03.2022', '4', '4', 'Ничья'],
 ['11', '20.03.2022', '18', '10', 'синие'],
 ['12', '27.03.2022', '9', '13', 'белые'],
 ['13', '03.04.2022', '10', '9', 'синие'],
 ['14', '10.04.2022', '10', '9', 'синие'],
 ['15', '17.04.2022', '13', '14', 'белые'],
 ['16', '24.04.2022', '13', '13', 'Ничья'],
 ['17', '01.05.2022', '', '', ''],
 ['18', '08.05.2022', '', '', ''],
 ['19', '15.05.2022', '', '', ''],
 ['20', '22.05.2022', '', '', ''],
 ['21', '29.05.2022', '', '', ''],
 ['22', '05.06.2022', '', '', ''],
 ['23', '12.06.2022', '', '', ''],
 ['24', '19.06.2022', '', '', ''],
 ['25', '26.06.2022', '', '', ''],
 ['26', '03.07.2022', '', '', ''],
 ['27', '10.07.2022', '', '', ''],
 ['28', '17.07.2022', '', '', ''],
 ['29', '24.07.2022', '', '', ''],
 ['30', '31.07.2022', '', '', ''],
 ['31', '07.08.2022', '', '', ''],
 ['32', '14.08.2022', '', '', ''],
 ['33', '21.08.2022', '', '', ''],
 ['34', '28.08.2022', '', '', ''],
 ['35', '04.09.2022', '', '', ''],
 ['36', '11.09.2022', '', '', ''],
 ['37', '18.09.2022', '', '', ''],
 ['38', '25.09.2022', '', '', ''],
 ['39', '02.10.2022', '', '', ''],
 ['40', '09.10.2022', '', '', ''],
 ['41', '16.10.2022', '', '', ''],
 ['42', '23.10.2022', '', '', ''],
 ['43', '30.10.2022', '', '', ''],
 ['44', '06.11.2022', '', '', ''],
 ['45', '13.11.2022', '', '', ''],
 ['46', '20.11.2022', '', '', ''],
 ['47', '27.11.2022', '', '', ''],
 ['48', '04.12.2022', '', '', ''],
 ['49', '11.12.2022', '', '', ''],
 ['50', '18.12.2022', '', '', ''],
 ['51', '25.12.2022', '', '', ''],
 ['', 'итоги', '5', '7', ''],
 ['', 'Очки п-3', '15', '21', '']]