<h3>8. ПРОДВИНУТЫЕ ТЕМЫ PANDAS И ЗАДАНИЯ СО ЗВЁЗДОЧКОЙ → УСКОРЯЕМ И ОПТИМИЗИРУЕМ ПАНД</h3>

In [2]:
#common imports

import pandas as pd
import numpy as np

Step 2
<a href="https://lab.karpov.courses/learning/85/module/1056/lesson/9045/26547/118039/">link</a>

In [20]:
#read csv data set into df
nyc = pd.read_csv('train.csv')
nyc.head()

,key,fare_amount,pickup_datetime,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,passenger_count
0,2009-06-15 17:26:21.0000001,4.5,2009-06-15 17:26:21 UTC,-73.844311,40.721319,-73.841610,40.712278,1
1,2010-01-05 16:52:16.0000002,16.9,2010-01-05 16:52:16 UTC,-74.016048,40.711303,-73.979268,40.782004,1
2,2011-08-18 00:35:00.00000049,5.7,2011-08-18 00:35:00 UTC,-73.982738,40.761270,-73.991242,40.750562,2
3,2012-04-21 04:30:42.0000001,7.7,2012-04-21 04:30:42 UTC,-73.987130,40.733143,-73.991567,40.758092,1
4,2010-03-09 07:51:00.000000135,5.3,2010-03-09 07:51:00 UTC,-73.968095,40.768008,-73.956655,40.783762,1

<img src='https://miro.medium.com/max/700/1*6amISXF-p34a4H9xRoJk1Q@2x.png'/>

In [10]:
def haversine(phi1, phi2, lmd1, lmd2, radius=6371):
    '''
    phi1 и phi2  — широта исходного местоположения и широта(latitude) пункта назначения в радианах, 
    lmd1 и lmd2 (lambda) -  — долгота исходного местоположения и долгота(longitude) пункта назначения в радианах,
    radius — радиус сферы, будем считать его равным 6371.
    '''
    
    #convert to radians
    phi1 = np.radians(phi1)
    phi2 = np.radians(phi2)
    lmd1 = np.radians(lmd1)
    lmd2 = np.radians(lmd2)
    
    #cash sin results
    sin_phi = np.sin((phi2 - phi1) / 2)
    sin_lmd = np.sin((lmd2 - lmd1) / 2)
    
    #haversine
    return 2 * radius * np.arcsin(np.sqrt(sin_phi * sin_phi + np.cos(phi1) * np.cos(phi2) * sin_lmd * sin_lmd))

In [18]:
point1 = {"latitude": 48.619, "longitude" : -120.412}
point2 = {"latitude": 48.59617, "longitude" : -120.4020}
expected_distance = 2.643

actual = haversine(point2["latitude"], point1["latitude"], point2["longitude"], point1["longitude"])

isclose = np.isclose(expected_distance, actual, atol=0.001)
print(f'expected {expected_distance}, actual {actual}, isclose {isclose}')

expected 2.643, actual 2.642907396923357, isclose True

In [27]:
%%time

nyc['distance'] = pd.Series(haversine(row['dropoff_latitude'], row['pickup_latitude'], row['dropoff_longitude'], row['pickup_longitude']) for i, row in nyc.iterrows())

Wall time: 8.53 s

In [24]:
nyc.head()

,key,fare_amount,pickup_datetime,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,passenger_count,distance
0,2009-06-15 17:26:21.0000001,4.5,2009-06-15 17:26:21 UTC,-73.844311,40.721319,-73.841610,40.712278,1,1.030764
1,2010-01-05 16:52:16.0000002,16.9,2010-01-05 16:52:16 UTC,-74.016048,40.711303,-73.979268,40.782004,1,8.450134
2,2011-08-18 00:35:00.00000049,5.7,2011-08-18 00:35:00 UTC,-73.982738,40.761270,-73.991242,40.750562,2,1.389525
3,2012-04-21 04:30:42.0000001,7.7,2012-04-21 04:30:42 UTC,-73.987130,40.733143,-73.991567,40.758092,1,2.799270
4,2010-03-09 07:51:00.000000135,5.3,2010-03-09 07:51:00 UTC,-73.968095,40.768008,-73.956655,40.783762,1,1.999157

Step 3
<a href="https://lab.karpov.courses/learning/85/module/1056/lesson/9045/26547/118040/">link</a>
<br/>
<ul>please note:
    <li>date set 'nyc' has to be loaded in previous step</li>
    <li>'haversine' function has to be defined in previous step</li>
</ul>

In [30]:
%%time

nyc['distance'] = pd.Series(haversine(row.dropoff_latitude, row.pickup_latitude, row.dropoff_longitude, row.pickup_longitude) for row in nyc.itertuples())

Wall time: 1.22 s

In [31]:
nyc.head()

,key,fare_amount,pickup_datetime,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,passenger_count,distance
0,2009-06-15 17:26:21.0000001,4.5,2009-06-15 17:26:21 UTC,-73.844311,40.721319,-73.841610,40.712278,1,1.030764
1,2010-01-05 16:52:16.0000002,16.9,2010-01-05 16:52:16 UTC,-74.016048,40.711303,-73.979268,40.782004,1,8.450134
2,2011-08-18 00:35:00.00000049,5.7,2011-08-18 00:35:00 UTC,-73.982738,40.761270,-73.991242,40.750562,2,1.389525
3,2012-04-21 04:30:42.0000001,7.7,2012-04-21 04:30:42 UTC,-73.987130,40.733143,-73.991567,40.758092,1,2.799270
4,2010-03-09 07:51:00.000000135,5.3,2010-03-09 07:51:00 UTC,-73.968095,40.768008,-73.956655,40.783762,1,1.999157

As we can see method 'itertuples' is ~7 time faster than 'iterrows'