In [3]:
#common imports
import pandas as pd
import numpy as np

In [4]:
#path to data set file
#please note: it is defined on LMS but not local so we just define it here
path_to_file = '2_bookings.csv'

In [139]:
pd.__version__

'1.2.4'

Step 2 <a hrev='https://lab.karpov.courses/learning/85/module/1056/lesson/9039/26516/117802/'>link</a>
<p>Импортируйте библиотеку pandas как pd. Прочитайте датасет bookings.csv с разделителем ;. Ссылка на датасет находится в переменной path_to_file.
<br/>Сохраните прочитанный датасет в bookings.
<br/>Затем запишите первые 7 строк в переменную bookings_head.

In [5]:
bookings = pd.read_csv(path_to_file, sep=';')

In [7]:
bookings_head = bookings.head(7)

In [8]:
bookings_head

,Hotel,Is Canceled,Lead Time,arrival full date,Arrival Date Year,Arrival Date Month,Arrival Date Week Number,Arrival Date Day of Month,Stays in Weekend nights,Stays in week nights,...,Adults,Children,Babies,Meal,Country,Reserved Room Type,Assigned room type,customer type,Reservation Status,Reservation status_date
0,Resort Hotel,0,342,2015-07-01,2015,July,27,1,0,0,...,2,0.0,0,BB,PRT,C,C,Transient,Check-Out,2015-07-01
1,Resort Hotel,0,737,2015-07-01,2015,July,27,1,0,0,...,2,0.0,0,BB,PRT,C,C,Transient,Check-Out,2015-07-01
2,Resort Hotel,0,7,2015-07-01,2015,July,27,1,0,1,...,1,0.0,0,BB,GBR,A,C,Transient,Check-Out,2015-07-02
3,Resort Hotel,0,13,2015-07-01,2015,July,27,1,0,1,...,1,0.0,0,BB,GBR,A,A,Transient,Check-Out,2015-07-02
4,Resort Hotel,0,14,2015-07-01,2015,July,27,1,0,2,...,2,0.0,0,BB,GBR,A,A,Transient,Check-Out,2015-07-03
5,Resort Hotel,0,14,2015-07-01,2015,July,27,1,0,2,...,2,0.0,0,BB,GBR,A,A,Transient,Check-Out,2015-07-03
6,Resort Hotel,0,0,2015-07-01,2015,July,27,1,0,2,...,2,0.0,0,BB,PRT,C,C,Transient,Check-Out,2015-07-03

Step 3 <a hrev='https://lab.karpov.courses/learning/85/module/1056/lesson/9039/26516/117803/'>link</a>
<p>Посмотрите на размеры таблицы. Сколько всего в ней столбцов?

In [11]:
#columns count
bookings.shape[1]

21

Step 4 <a hrev='https://lab.karpov.courses/learning/85/module/1056/lesson/9039/26516/117804/'>link</a>
<p>К какому типу относится большинство переменных?

In [29]:
bookings \
    .dtypes \
    .reset_index() \
    .rename(columns={0:"t"}) \
    .groupby(by='t', as_index=False) \
    .agg('count')

         t  index
0    int64     10
1  float64      1
2   object     10

Step 5 <a hrev='https://lab.karpov.courses/learning/85/module/1056/lesson/9039/26516/117805/'>link</a>
<p>💀 Сложное задание! 💀
<br/>
Как вы уже могли заметить, при сборе датасета произошла небольшая ошибка, и названия колонок были записаны в неудобном для дальнейшей работы формате. Исправьте ситуацию, приведя названия столбцов к нижнему регистру и заменив пробелы на знак нижнего подчеркивания.
<br/>
Например: Is Canceled -> is_canceled

In [34]:
def get_colums_to_rename(all_columns):
    '''
    all_columns - is array-like
    the method returns dic like {"Old Column name with spaces":"old_column_name_with_spaces"}
    '''
    return {key:key.replace(' ', '_').lower() for key in all_columns}

In [35]:
bookings = bookings.rename(columns=get_colums_to_rename(bookings.columns))

In [36]:
bookings.head()

,hotel,is_canceled,lead_time,arrival_full_date,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,...,adults,children,babies,meal,country,reserved_room_type,assigned_room_type,customer_type,reservation_status,reservation_status_date
0,Resort Hotel,0,342,2015-07-01,2015,July,27,1,0,0,...,2,0.0,0,BB,PRT,C,C,Transient,Check-Out,2015-07-01
1,Resort Hotel,0,737,2015-07-01,2015,July,27,1,0,0,...,2,0.0,0,BB,PRT,C,C,Transient,Check-Out,2015-07-01
2,Resort Hotel,0,7,2015-07-01,2015,July,27,1,0,1,...,1,0.0,0,BB,GBR,A,C,Transient,Check-Out,2015-07-02
3,Resort Hotel,0,13,2015-07-01,2015,July,27,1,0,1,...,1,0.0,0,BB,GBR,A,A,Transient,Check-Out,2015-07-02
4,Resort Hotel,0,14,2015-07-01,2015,July,27,1,0,2,...,2,0.0,0,BB,GBR,A,A,Transient,Check-Out,2015-07-03

Step 6 <a hrev='https://lab.karpov.courses/learning/85/module/1056/lesson/9039/26516/117806/'>link</a>
<p>💀 Сложное задание! 💀
<p>
Перейдем к исследованию данных! Пользователи из каких стран совершили наибольшее число успешных бронирований? Бронирование считается успешным, если в дальнейшем не было отменено (переменная is_canceled). В качестве ответа выберите страны, входящие в топ-5.

In [37]:
bookings.is_canceled.unique()

array([0, 1], dtype=int64)

In [52]:
bookings \
    .query('is_canceled == 0') \
    .groupby(by='country', as_index=False) \
    .agg({'hotel':'count'}) \
    .rename(columns={'hotel':'count'}) \
    .sort_values('count', ascending=False) \
    .head(5)

    country  count
125     PRT  21071
57      GBR   9676
54      FRA   8481
50      ESP   6391
42      DEU   6069

Step 7 <a hrev='https://lab.karpov.courses/learning/85/module/1056/lesson/9039/26516/117807/'>link</a>
<p>На сколько ночей (stays_total_nights)  в среднем бронируют отели типа City Hotel? Resort Hotel? Запишите полученные значения в пропуски с точностью до 2 знаков после точки.

In [60]:
bookings.hotel.unique()

array(['Resort Hotel', 'City Hotel'], dtype=object)

In [59]:
#agg way
hotels = bookings \
    .groupby(by='hotel', as_index=False) \
    .agg({'stays_total_nights': 'mean'}) \

hotels['stays_total_nights_rounded'] = hotels.stays_total_nights.round(2)

hotels

          hotel  stays_total_nights  stays_total_nights_rounded
0    City Hotel            2.978142                        2.98
1  Resort Hotel            4.318547                        4.32

In [63]:
#no agg way
bookings.groupby(by='hotel').stays_total_nights.mean().round(2)

hotel
City Hotel      2.98
Resort Hotel    4.32
Name: stays_total_nights, dtype: float64

Step 8 <a hrev='https://lab.karpov.courses/learning/85/module/1056/lesson/9039/26516/117808/'>link</a>
<p>Иногда тип номера, присвоенного клиенту (assigned_room_type), отличается от изначально забронированного (reserved_room_type). Такое может произойти, например, по причине овербукинга.
<br/>
Сколько подобных наблюдений встретилось в датасете?
<br/>
*отмена бронирования также считается

In [64]:
bookings.query('assigned_room_type != reserved_room_type').shape[0]

14917

Step 9 <a hrev='https://lab.karpov.courses/learning/85/module/1056/lesson/9039/26516/117809/'>link</a>
<p>Теперь проанализируйте даты запланированного прибытия (arrival_date_year).
<br/>На какой месяц чаще всего оформляли бронь в 2016 году? Изменился ли самый популярный месяц в 2017?

In [90]:
arrival = bookings \
    .groupby(by=['arrival_date_year', 'arrival_date_month'], as_index=False) \
    .agg({'hotel':'count'}) \
    .rename(columns={'hotel':'counts'}) \
    .sort_values(['arrival_date_year', 'counts'], ascending=False)

arrival.groupby(by='arrival_date_year').head(1)

    arrival_date_year arrival_date_month  counts
25               2017                May    6313
16               2016            October    6203
5                2015          September    5114

Step 10 <a hrev='https://lab.karpov.courses/learning/85/module/1056/lesson/9039/26516/117810/'>link</a>
<p>Сгруппируйте данные по годам, а затем проверьте, на какой месяц (arrival_date_month) бронирования отеля типа City Hotel отменялись чаще всего в 2015? 2016? 2017? 
<br/>Hint: для этого сначала примените метод groupby, после чего выберите нужную колонку для дальнейших действий :)
Например:
<br/>
df.groupby('column_1')['column_2'].what_to_do()

In [101]:
canceled = bookings \
    .query('hotel == "City Hotel"') \
    .groupby(by=['arrival_date_year','arrival_date_month'], as_index=False) \
    .agg({'is_canceled':'sum'}) \
    .sort_values(['arrival_date_year','is_canceled'], ascending = False)

canceled.groupby(by='arrival_date_year').head(1)

    arrival_date_year arrival_date_month  is_canceled
25               2017                May         2217
16               2016            October         1947
5                2015          September         1543

In [112]:
bookings \
    .query('hotel == "City Hotel" and is_canceled == 1') \
    .groupby(by='arrival_date_year') \
    .arrival_date_month.value_counts()

arrival_date_year  arrival_date_month
2015               September             1543
                   October               1321
                   August                1232
                   July                   939
                   December               668
                   November               301
2016               October               1947
                   June                  1720
                   September             1567
                   April                 1539
                   May                   1436
                   November              1360
                   August                1247
                   March                 1108
                   December              1072
                   July                  1043
                   February               930
                   January                438
2017               May                   2217
                   April                 1926
                   June                  1808
                   July                  1324
                   March                 1278
                   August                1123
                   January               1044
                   February               971
Name: arrival_date_month, dtype: int64

Step 11 <a hrev='https://lab.karpov.courses/learning/85/module/1056/lesson/9039/26516/117811/'>link</a>
<p>Посмотрите на числовые характеристики трёх колонок: adults, children и babies. Какая из них имеет наибольшее среднее значение?

In [120]:
bookings[['adults', 'children', 'babies']].mean()

adults      1.856403
children    0.103890
babies      0.007949
dtype: float64

Step 12 <a hrev='https://lab.karpov.courses/learning/85/module/1056/lesson/9039/26516/117812/'>link</a>
<p>Создайте колонку total_kids, объединив столбцы children и babies. Для отелей какого типа среднее значение переменной оказалось наибольшим?
<br/>
City hotel – отель находится в городе
Resort hotel – отель курортный
В качестве ответа укажите наибольшее среднее total_kids, округлив до 2 знаков после точки.

In [124]:
bookings['total_kids'] = bookings.children + bookings.babies

bookings \
    .groupby(by='hotel') \
    .total_kids.mean().round(2)

hotel
City Hotel      0.10
Resort Hotel    0.14
Name: total_kids, dtype: float64

Step 13 <a hrev='https://lab.karpov.courses/learning/85/module/1056/lesson/9039/26516/117813/'>link</a>
<p>💀 Сложное задание! 💀
<br/>Не все бронирования завершились успешно (is_canceled), поэтому можно посчитать, сколько клиентов было потеряно в процессе. Иными словами, посчитать метрику под названием Churn Rate.

<p/>Churn rate (отток, коэффициент оттока) – это процент подписчиков (например, на push-уведомления от сайта), которые отписались от канала коммуникации, отказались от услуг сервиса в течение определенного периода времени. Иными словами, представляет собой отношение количества ушедших пользователей к общему количеству пользователей, выраженное в процентах.

<p/>В нашем случае Churn Rate - это процент клиентов, которые отменили бронирование. Давайте посмотрим, как эта метрика связана с наличием детей у клиентов!

<p/>Создайте переменную has_kids, которая принимает значение True, если клиент при бронировании указал хотя бы одного ребенка (total_kids), в противном случае – False. Далее проверьте, среди какой группы пользователей показатель оттока выше. 

<p/>В качестве ответа укажите наибольший % оттока, округленный до 2 знаков после точки (то есть доля 0.24563 будет 24.56% и в ответ пойдёт 24.56)

In [129]:
bookings['has_kids'] = bookings.total_kids > 0

bookings \
    .groupby(by='has_kids') \
    .agg({'is_canceled':lambda x: np.round(x.sum()/x.count() * 100,2)})

          is_canceled
has_kids
False           37.22
True            34.92

In [140]:
#pleae note this code does not work)
#bookings[['has_kids', 'is_canceled']].value_counts() / bookings[['has_kids']].value_counts() * 100

In [150]:
bookings.groupby(by='has_kids').is_canceled.value_counts(normalize=True).round(2) * 100

has_kids  is_canceled
False     0              63.0
          1              37.0
True      0              65.0
          1              35.0
Name: is_canceled, dtype: float64