In [1]:
import pandas as pd
import numpy as np

In [10]:
pokemon = pd.read_csv('Pokemon.csv')

In [11]:
pokemon.head(1)

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False

Step 3 <a href='https://lab.karpov.courses/learning/85/module/1056/lesson/9045/26548/118051/'>link</a>
<br/>пробелы и точки нужно заменить на "_" (напр. Sp. Atk → sp_atk).
приведите все названия к нижнему регистру
колонку "#" переименовать в "id"
Полученные результаты запишите в исходный датафрейм pokemon.

Затем сгруппируйте данные по поколению покемонов (generation), и с помощью value_counts() посчитайте, сколько в каком поколении легендарных покемонов (legendary), а также сколько в этих поколениях нелегендарных покемонов. Полученный объект приведите к формату датафрейма (.to_frame()) и сохраните в legends.

In [12]:
pokemon = pokemon \
    .rename(columns=lambda c: c.replace('. ', '_').replace(' ', '_').lower()) \
    .rename(columns={'#':'id'})

In [13]:
pokemon.head()

,id,name,type_1,type_2,total,hp,attack,defense,sp_atk,sp_def,speed,generation,legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False

In [14]:
legends = pokemon.groupby(by='generation') \
    .legendary \
    .value_counts() \
    .to_frame()

In [17]:
legends.head()

                      legendary_count
generation legendary
1          False                  160
           True                     6
2          False                  101
           True                     5
3          False                  142

Step 4 <a href='https://lab.karpov.courses/learning/85/module/1056/lesson/9045/26548/118052/'>link</a>
<br/>Как вы могли заметить,  есть только одна колонка со значениями, которая называется legendary, а в качестве индекса используются две колонки — generation и legendary. Два одинаковых названия — не очень хорошо, поэтому необходимо переименовать колонку legendary в legendary_count. 

Используйте датафрейм legends, полученный на предыдущем шаге, и измените в нём название столбца, перезаписав его в ту же переменную. Затем используйте unstack, чтобы поместить уровень индекса legendary в уровень оси столбцов. Иными словами, должно получиться две колонки – False & True. Результат сохраните в legends_unstacked.

In [16]:
legends = legends.rename(columns={'legendary':'legendary_count'})

In [19]:
legends_unstacked = legends.unstack()

Step 5 <a href='https://lab.karpov.courses/learning/85/module/1056/lesson/9045/26548/118053/'>link</a>
<br/>Немного усложним задачу. Теперь попробуем узнать, среди каких типов покемонов и какого поколения больше всего легендарных.

Сгруппируйте датасет pokemon по переменным generation и type_1, посчитайте количество легендарных покемонов внутри групп. Приведите данные в формат датафрейма, а затем используйте unstack(). В качестве ответа выберите вид и поколение покемона, среди которых больше всего легендарных.

Hint: обратиться к колонке с мультииндексом можно с помощью .loc[:,('legendary', True)]

In [45]:
pokemon.groupby(by=['generation', 'type_1']) \
    .legendary \
    .value_counts() \
    .to_frame() \
    .unstack() \
    .sort_values(('legendary', True), ascending=False) \
    .loc[:, ('legendary', True)].head(1)

generation  type_1
3           Dragon    6.0
Name: (legendary, True), dtype: float64